*,*::before,*::after{
    box-sizing: border-box;
    
}

body{
    margin: 0;
    background-color: darkslategray;
    font-family: sans-serif;
}


#back-to-top-btn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    outline: none;
    border: 3px solid white;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}

#back-to-top-btn:hover, #back-to-top-btn:focus{
    background-color: white;
    color: black;
    border: 3px solid white;
}

.btnEntrance{
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}
/* zoomIn */
@keyframes btnEntrance{
    from{
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    to{
        opacity: 1;
    }
}


.btnExit{
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}
/* zoomOut */
@keyframes btnExit{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: scale3d(0.3,0.3,0.3);
    }
}


/* header */

header{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.logo img{
    max-width: 300px;
    width: 100%;
    padding-top: 15px;
}

.nav-bar{
    position: fixed;
    background: rgb(41, 41, 41);
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav-list{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links{
    color: inherit;
    font-weight: bold;
    font-size: 50px;
    text-decoration: none;
}

.nav-links:hover{
    color: #47a376;
}

.nav-toggle{
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    
    z-index: 1000;
}

.nav-open .nav-bar{
    transform: translateX(0);
}

.nav-open .three-lines{
    transform: rotate(.625turn);
}

.nav-open .three-lines::before{
    transform: rotate(90deg) translateX(-6px);
}


.nav-open .three-lines::after{
    opacity: 0;
}


.three-lines{
    
    display: block;
    position: relative;
    
}

.three-lines,.three-lines::before,.three-lines::after{
    background: white;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
    
}

.three-lines::before{
    top: 6px;
    
}

.three-lines::after{
    bottom: 6px;
    
}

.three-lines::before,.three-lines::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    

}



/* about me section */



.about-me{
    /* background-color: #edeef6; */
    background-color: rgba(237, 234, 234, 0.219);
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    margin: 10px;
    /* border: 2px solid #47a376; */
}

.about-me .name{
    text-align: center;
    font-size: 35px;
    
}

.about-me h1{
    color: white;
    
}

.open, .close{
    background-color: #47a376;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
    cursor: pointer;
}

.open:hover, .close:hover{
    background-color: aquamarine;
}

.modal-container{
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.5s ease;
}

.modal-container.show{
    pointer-events: auto;
    opacity: 1;
}

.modal{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 60px;
    width: 600px;
    max-width: 100%;
    text-align: center;
}


.modal img{
    max-width: 300px;
    width: 100%;
}

.modal h1{
    margin: 0;
    color: black;
}

.modal p{
    font-size: 14px;
    opacity: 0.7;
}

/* my work */

.japan{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.work{
    padding-top: 20px;
    color: lightcyan;
    font-size: 40px;
}

.japan h2{
    color: lightcyan;
}

.project-japan{
    
    text-align: center;
    max-width: 1100px;
    width: 100%;
    
    flex-direction: column;
    
    background-size: contain;
    box-shadow: -1px 0 10px white;
    
    margin: 20px;
    
    padding-bottom: 50px;
    
}

.project-japan img{
    
    max-width: 1100px;
    width: 100%;
    padding: 20px;
    background-color: lightcyan;
    border: 5px solid black;
    
}




.my-work{
    text-align: center;
    
}

.my-work h2{
    color: lightcyan;
    
}

.portfolio{
    display: flex;
    justify-content: center;
    text-align: center;
    
    
    
}

.portfolio img{
    
    max-width: 600px;
    width: 600px;
    height:500px;
    padding: 20px;
    background-color: lightcyan;
    border: 5px solid black;
    
}

.projects{
    box-shadow: -1px 0 10px white;
    
    margin: 20px;
    padding-bottom: 50px;

}



.btn {
    text-decoration: none;
    background-color: #47a376;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
    cursor: pointer;
    
}

.btn:hover{
    background-color: aquamarine;
}


/* contact Section */


.container{
    width: 100%;
    height: 100vh;
    background: darkslategray;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    color: #555;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea{
    border: 0;
    margin: 10px;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button{
    padding: 15px;
    background: #47a376;
    color: #fff;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

.contact-btn:hover{
    background-color: aquamarine;
    
}

/* social media links */

.social-media{
    display: block;
    padding: 0 100px;
}

.social-media h1{
    font-size: 80px;
    color: lightcyan;
}

.social-media p{
    font-size: 20px;
    color: white;
}

.social-media h2{
    color: lightcyan;
}

.social-logo img{
    padding: 0 5px;
    width: 50px;
    height: 20%;
}

@media(max-width:2000px){
    .portfolio img{
        width: 500px;
        height: 500px;
    }

    @media(max-width: 1600px){
        .portfolio img{
            width: 400px;
            height: 400px;
        }

        
    }



    @media(max-width: 1300px){
        .container{
            width: 100%;
            height: 150vh;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    
        .social-media{
            display: block;
            padding: 0;
        }

        .social-logo{
            padding: 10px 0;
        }

        .portfolio{
            flex-direction: column;
        }
        .portfolio img{
            width: 100%;
            height: 500px;
            margin: 0;
             max-width: 100%;
        }

        #back-to-top-btn{
            color: rgb(34, 253, 180);
            border: 3px solid rgb(34, 253, 180);
            background-color: black;
        }
    
    }  

    @media(max-width: 1200px){
        .japan{
            padding: 20px;
            
        }
        .project-japan img{
            height: 500px;
        }
        .nav-links{
            font-size: 40px;
        }
        #back-to-top-btn{
            right: 40px;
            font-size: 15px;
            width: 45px;
            height: 45px;
        }
        
    }


}

